@font-face{
    font-family: "PT-Sans";
    font-style: normal;
    font-weight: 400;
    src: url=("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}


@font-face{
    font-family: "PT-Sans";
    font-style: normal;
    font-weight: 700;
    src: url=("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
}


body{
    font-family: "PT-Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color:#000000;
    background-color: #FFFFFF;
}

.page-header {
    color:black
    background-color:#FFFFFF;
}

.navigation-link{
    font-family: PT Sans;
    font-size: 20px;
    line-height: 26px;
    color:#000000;
    font-weight: bold;
    text-decoration: none;
    text-transform: lowercase;
}

.main-index {
    color:#81B3D3;
    background-color: #FFFFFF;
    background-image:url("image/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.intro{
    font-family: "PT-Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color:#000000;
    background-color: #FFFFFF;
    text-decoration: none;
    
    }
    .intro-title{
    text-transform: uppercase;
}
}
.intro-description{
    font-family:"PT-Sans", sans-serif;
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color:#000000;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: lowercase;
}