@font-face{
    font-family: "PT-Sans";
    font-style: normal;
    font-weight: 400;
    src: url=("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}


@font-face{
    font-family: "PT-Sans";
    font-style: normal;
    font-weight: 700;
    src: url=("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
}


body{
    font-family: "PT-Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color:#000000;
    background-color: #FFFFFF;
}

.page-header {
    color:black
    background-color:#FFFFFF;
}

.navigation-link{
    font-family: PT Sans;
    font-size: 20px;
    line-height: 26px;
    color:#000000;
    font-weight: bold;
    text-decoration: none;
    text-transform: lowercase;
}

.inner-container {
    color:#81B3D3;
    background-color: #FFFFFF;
    background-image:url("../image/index-background.jpg");
    background-size: 100% auto;
    text-align: center;
    background-repeat: no-repeat;
}

.intro{
    font-family: "PT-Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color:#000000;
    background-color: #FFFFFF;
    text-decoration: none;
    
    }
    .intro-title{
    text-transform: uppercase;
}

.intro-description{
    font-family:"PT-Sans", sans-serif;
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color:#000000;
    background-color: #FFFFFF;
    text-decoration: none;
    
}

.advantages{
    font-family: "PT-Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color:#FFFFFF;
    background-color:#83B3D3;
    text-decoration: none;
}
    
    
    .advantages-title{
    text-transform: uppercase;  

    }
    
   .advantages-description{
    font-family: "PT-Sans", sans-serif;
    font-size: 18px;
    line-height:21px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color:#FFFFFF;
    background-color:#83B3D3;
    text-decoration: none;
}

.container-list-title{
    font-family: "PT-Sans", sans-serif;
    font-size: 24px;
    line-height:28px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color:black;
    background-color:#83B3D3;
    text-decoration: none;

}

.container-list-paragraph{
    font-size: 18px;
    line-height:21px;
    font-weight: 400;
    background-color:#83B3D3;
    text-align: center;

}

.subscribe{
    color:#FFFFFF;
    background-color: #000000;
    background-image:url("../image/background.jpg");
    background-size: width: 1200px; height: 411px;
    background-repeat: no-repeat;
    text-align:center;
}


