@font-face {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2"),
    url("../fonts/PTSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-display: swap;
}

.html {
  height: 100%;
}




body {
  width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT-Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: black;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: auto 0;
}

.navigation-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content:space-between;
  width: 300px;
}

.navigation-user {
  margin-left:150px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #DBDBDB;
}

.button-open {
  width: 160px;
  height:37px;
  color: white;
  background-color: #756257;
  text-transform: uppercase;
  border:0; 

}


.navigation-link {
  position: relative;
  font-family: PT Sans;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
  text-transform: capitalize;
}

.logo {
  display: block;
  padding-left: 70px;
}

.inner-container {
  color: #81b3d3;
  background-color: #ffffff;
  background-image: url("../image/divider.svg"),
    url("../image/index-background.jpg");
  width: 1200px;
  height: 485px;
  background-position: bottom;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
}

.welcome {
  padding-top: 51px;
}

.city {
  width: 400px;
}
.advantages-image {
  width: 800px;
}

.intro {
  font-family: PT Sans, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  width: 1200px;
  height: 282px;
  padding-top: 63px;
}

.intro-title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
}

.intro-description {
  font-family: PT Sans, sans-serif;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  margin-bottom: 0;
}

.advantages {
  display: flex;
  background-color: #83b3d3;
  text-align: center;
  margin: 0%;
}
.number {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}

.title-great {
  font-size: 30px;
  font-weight: 700px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 98px;
}

.title-small {
  font-family: PT Sans, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.title-great-black {
  color: black;
  text-transform: uppercase;
}
.number-black {
  text-align: center;
  color: black;
  font-weight: 400;
}

.title-small-black {
  font-weight: 400;
  font-style: normal;
  color: black;
  margin: 0px;
}

.title-small-white {
  text-align: center;
  color: #ffffff;
}

.container-list-list {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: black;
  background: rgba(131, 179, 211, 0.12);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  border-color: #6a6a6a;
}

.container-list-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 384px;
  align-items: center;
  padding-top: 98px;
}

.container-list-title {
  text-transform: uppercase;
}

.container-list-food {
  background-color: #ffffff;
}

.container-list-way {
  background: #83b3d334;
}

.subscribe {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../image/background.jpg");
  width: 1200px;
  height: 411px;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-button {
  color: #ffffff;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background: #83b3d3;
  border-width: 1px;
  border-style: solid;
  border:0;
}

.inner-header {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../image/catalog/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
}

.header-container {
  padding-top: 35px;
  padding-left:71px ;
  padding-right: 72px;
  padding-bottom: 83px;
}

.inner-header-title {
  font-family: PT Sans, sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 400;
  color: #ffffff;
}

.inner-header-hotels {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.all-service {
  display: flex;
  justify-content: space-between;
}

.service {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  width: 150px;
}

.filter-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lodging {
  width: 170px;
}


.filter-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.filter-range {
  color: #fff;
  padding-bottom: 7px;
  margin-bottom: 5px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.price-controls {
  height: 32px;
  width: 314px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  position: relative;
}

.price-controls .max-price, .price-controls .min-price {
  width: 90px;
  padding-left: 60px;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: white;
  background: 0 0;
  border: none;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background: #fff;
}

.range-controls {
  width: 315px;
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255,255,255,.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #fff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgb(0 1 1 / 20%);
  box-shadow: 0 2px 1px 0 rgb(0 1 1 / 20%);
  cursor: pointer;
  background: #ababab;
  border: 8px solid #fff;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  background: 0 0;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  width: 132px;
  height: 32px;
  margin-left: 87px;
  text-align: center;
}

.apply-reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 160px;
  
  
}
.button {
  background-color: #83B3D3;
  color: white;
  text-transform: uppercase;
  width: 160px;
  height: 48px;
  border:0px;
}

.reset {
  width: 160px;
  height: 23px;
  border:0px;
  padding-left: 40px;
  padding-top: 20px;
  
}

.interesting {
  text-align: center;
  width: 1200px;
  height: 417px;
  padding-top: 91px;
}

.interesting-title {
  text-transform: uppercase;
}

.subscribe-title {
  padding-top: 94px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}

.find {
  padding-right:71px;
  padding-left: 72px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 1057px;
  padding-top: 44px;
}

.select-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 287px; 
  height: 48px; 
 }

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: 4px;
  
}
.card-grid-toggle a {
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 8px;
}

.card-grid-tile {
 background-image: url("/image/mode-tile.svg");
}

.card-grid-slideshow {
  background-image: url("/image/mode-slideshow.svg");
} 

.card-grid-list {
  background-image: url("/image/mode-list.svg");
}

.hotel-catalog {
  padding-right:71px;
  padding-left:72px;
   
}

.hotel-list {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  
}

 .hotel-list-all {
  display: flex;
  justify-content: space-between;
  border-width: 1px;
  border-top-style: solid;
  border-color:#E5E5E5;
  width: 1057px;
  padding-top: 34px;
  padding-bottom: 30px;
    
}

.hotel-item {
  list-style-type: none;
  align-items: center;
  height: 230px;
  display: grid;
  grid-template-columns: 300px; 
  padding-bottom: 50px;
  
}


.hotel-item:nth-child(3n) {
  margin-left: auto;
}


.hotel {
  border-width: 1px;
  border-style: solid;
  border-color:#E5E5E5;
  width: 1057px;
  margin: 0px;
  padding-top: 34px;

}

.details-item {
  margin-right: 6px;
  display: flex;
  justify-content: space-between;

}

.reserve-item a {
  margin-top: 16px;
  padding: 3px 17px;
  color: #ffffff;
  background-color:  #766357;
  height: 18px;
  width: 125px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

/*.reserve-item a :not(.button) {
  color: #83B3D3;
}*/


.rating-stars {
  display: flex;
  justify-content: flex-end;
  padding-right: 107px;
   
}
.rating-stars .icon-star::before {
margin-right: 0;
content: "\2605";
color:#83B3D3;
font-size: 25px;
}


.rating {
  display: flex;
  justify-content: flex-end;
  padding-right: 72px;
}

.show-more {
  height: 100px;
  width: 1200px;
  margin: 0px;
}


.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  }

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 72px;
  padding-top: 50px;
  padding-bottom: 55px;
  list-style-type: none;
}

.footer-social-item {
  width: 56px;
  height: 44px;
  margin-right: 8px;
  margin-bottom: 8px;
  }


.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  height: 44px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.footer-social-tw {
  background-image: url("/image/social-twitter.svg");
}

.footer-social-fb {
  background-image: url("/image/social-facebook.svg");
}

.footer-social-youtube {
  background-image: url("/image/social-youtube.svg");
}


.tel-number {
  padding-top: 40px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  color: #000000;

}

.logo-html {
  padding-top: 42px;
  padding-bottom: 44px;
  margin-right: 72px;
}

.pagination {
  display: flex;
  padding: 16px;
  background-color: #FFFFFF;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 7px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  line-height: 26px;
  font-weight: 700;
  color:white;
  background-color:  #83B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.sorting-type {
  margin-left: auto;
}

.button-download {
width: 625px;
height: 55px;
left: 328px;
top: 1362px;
background: #83B3D3;
border: 1px;
text-transform: uppercase;
font-weight: 700;
color: white;
margin-left: 287px;
margin-right: 286px;
}

.rating {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
}